<h1>Did You See This?!?? <h1>
<div class = "container">	
	<% @entries.each  do |entry| %>

		<a href="<%= entry.link %>" target="_blank">
		<div class="box">

			<img src="<%= entry.imgurl %>">
			
				<h2><%= truncate(entry.title.to_s , :length => 40, :omission => '..') %></h2>
			
			
		</div>
		</a>
	<% end %>
</div>