<div>

	<%  @links.each  do |d| %>
		<div class="link"> <a href="<%= d %>" target="_blank"><%= d %></a></div>
	<% end%>
	
	<%  @link_titles.each do |t| %>
		<div> <%= t %></div>
	<% end%>

<div class="container">
	<%  @img_links.each  do |i| %>
			<div class="item"><img src="<%= i %>"></div>
	<% end%>
</div>
	
	
</div>