<h1>Link Blogger <h1>
<div class = "container">	
	<% 0.upto(@linkcount-1)  do |i| %>

		<a href="<%= @links[i] %>" target="_blank">
		<div class="box">

			<img src="<%= @imglink[i] %>">
			
				<h2><%= truncate(@link_titles[i].to_s , :length => 40, :omission => '..') %></h2>
			
			
		</div>
		</a>
	<% end %>
</div>