<div class = "container">	
	<% 0.upto(@linkcount-1)  do |i| %>
		<div class="item">
			<img src="<%= @img_links[i] %>">
			<h2><%= @link_titles[i] %></h2>
			<a href="<%= @links[i] %>" target="_blank"><%= @links[i] %></a>
			
		</div>
	<% end %>
</div>