// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark_grey: #666;

body {
	font-family: 'Montserrat', sans-serif;
	font-size:10px;
}
a:link {
	color: $dark_grey;
	text-decoration: none;
}

a:visited {
	color: $dark_grey;

}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;

}

img {
	
	width:300px;
	height:100%
	
}

.box {
  width: 300px;
  margin: 10px;
  float: left;
  border: 2px solid #999;
  border-bottom: 2px solid #999;
  overflow: hidden;
}
.box:hover{
	 border-bottom: 3px solid #000;
	 color: #000;
	
}




